.wrapper {
  width: 356px;
  height: calc(100vh - 60px);
  padding: 20px 0px 26px;
}

// Menu Avatar

.wrapper-menu-avatar {
  border-top: 0.5px solid var(--border-color);
  padding: 16px 0px;

  .title {
    padding: 0px 8px 8px;
  }

  .see-all-btn {
    color: var(--primary);
    padding: 8px;
    font-weight: 600;
    line-height: 2.2rem;
  }

  .tick-blue {
    color: rgb(32, 213, 236);
    margin-left: 0.4rem;
  }

  .menu-avatar-item {
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    cursor: pointer;

    &:hover {
      background-color: rgba(22, 24, 25, 0.03);
    }
  }

  .tippy-wrapper {
    border-radius: 8px;
    min-width: 300px;
    padding: 20px;
  }
}
