.wrapper {
  width: 100%;
  height: var(--default-layout-header-height, 60px);
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
}

.actions {
  display: flex;
  align-items: center;
  .action-more {
    font-size: 1.6rem;
    width: 2rem;
    height: 2rem;
    margin-left: 2.4rem;
  }
}
