.wrapper {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  height: var(--default-layout-header-height, 60px);
  display: flex;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  height: 46px;
  width: 361px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 20px;
  display: flex;
  align-items: center;

  .search-inner {
    padding: 12px 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .search-input {
      display: flex;
      flex: auto;
      border: unset;
      outline: unset;
      background: unset;
      font-size: 16px;
      width: 300px;
      margin-right: 8px;

      &:not(:placeholder-shown) ~ .search-btn {
        background-color: #f0f0f0;
      }
    }

    .search-btn {
      border: unset;
      outline: unset;
      background: unset;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: i {
        font-size: 16px;
        color: var(--black);
      }
    }
  }
}

.actions {
  .action-upload {
    height: 36px;
    padding: 0px 16px;
    font-size: 16px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    line-height: 24px;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      background-color: rgba(22, 24, 35, 0.03);
    }
  }

  .action-login {
    background-color: var(--primary);
    height: 36px;
    min-width: 100px;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
  }
}
